.App {
  height: 100vh;
  width: 100vw;

}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100vh;
  width: 15vw;
  background-color: #2F4050;

}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  height: 50px;
  width: 100%;

  list-style-type: none;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'ubuntu', sans-serif;
}

.SidebarList .row:hover{
  cursor: pointer;
  background-color: #1f2b37;
}

.row #icon {
  flex: 20%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 50px;
  left: 350px;
}


